*{
    font-family: 'Open Sans',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202125;
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ff4349;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

.box-contador{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 50vh;
    align-items: center;
    justify-content: center;
    border: 5px solid #ff4349;
    border-radius: 20%;
    margin: 8rem;
}

.box-contador p{
    color: white;
    font-size: 18pt;
}

.box-contador span{
    color: white;
}

#counter{
    display: flex;
}

#currentNumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
